<!-- meal_list.html -->
{% extends 'menu.html' %}

{% block content %}
  <main class="container mt-5">
    <h1 class="text-center">Lista de Registros de Refeições</h1>
    
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Data</th>
          <th>Horário</th>
          <th>Refeição</th>
          <th>Quantidade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for meal in meal_list %}
          <tr>
            <td>{{ meal.data }}</td>
            <td>{{ meal.horario }}</td>
            <td>{{ meal.refeicao }}</td>
            <td>{{ meal.quantidade }}</td>
            <td>
              <a href="{% url 'editar_meal' meal.id %}">Editar</a> |
              <a href="{% url 'excluir_meal' meal.id %}">Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
